@font-face {
    font-family: Gotham Bold;
    src: url(assets/gotham_bold.ttf);
}

@font-face {
    font-family: Gotham Book;
    src: url(assets/gotham_book.ttf);
}

::-webkit-scrollbar {
    width: 7px;
	position: absolute;
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,.3);
	border-radius: 10px;
	-webkit-transition: .15s all linear;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,.7);
}

body {
    font-family: Gotham Book;
    -webkit-font-smoothing: antialiased;
	margin: 0;
	background: rgb(18, 21, 23);
	color: white;
	overflow-x: hidden;
	overflow-y: scroll;
}

#wrapper {
	margin: 20px auto 0px auto;
	width: 764px;
}

#album-name {
	display: table;
	margin-top: 26px;
	float: left;
	width: 470px;
}

#album-artwork {
	float: left;
	margin-right: 11px;
	width: 103px;
	height: 103px;
}

#album-text {
	display: table-cell;
	vertical-align: middle;
	width: 365px;
}

#album-id {
	font-family: Gotham Bold;
	font-size: 31px;
	letter-spacing: -2px;
	text-transform: uppercase;
	width: 340px;
}

#album-title {
	font-family: Gotham Book;
	font-size: 24px;
	letter-spacing: -2.3px;
	text-transform: uppercase;
	width: 340px;
}

#genre-count {
	float: right;
	margin-top: 20px;
}

.genre-wrapper {
	float: left;
	margin: 0 0 4px 1px;
	font-size: 17px;
	cursor: pointer;
	padding: 7px;
}

.genre-wrapper:hover {
	background: #333;
}

.genre-wrapper.active {
	background: #555;
}

.genre-img {
	border-radius: 100%;
	width: 33px;
	height: 33px;
	background: url(assets/monstercat-white-2.png) 5px 4px no-repeat;
	background-size: 23px 25px;
	margin-bottom: 0px;
}

.trap { background-color: #8C0F27; }
.dnb { background-color: #F21904; }
.house { background-color: #EA8C00; }
.electro { background-color: #E6CE00; }
.hard-dance { background-color: #019700; }
.glitch-hop { background-color: #0B9757; }
.nu-disco { background-color: #1CABB3; }
.future-bass { background-color: #9A98FC; }
.trance { background-color: #007EE7; }
.dubstep { background-color: #8D04E1; }
.drumstep { background-color: #F32188; }
.electronic { background-color: #C1C1C1; }

.genre-num {
	text-align: center;
	font-family: Gotham Book;
	margin-top: 3px;
}

#tracklist {
	margin-top: 20px;
}

.track:first-child {
	border-top: 1px solid rgb(28, 28, 28);
}

.track {
	border-bottom: 1px solid rgb(28, 28, 28);
	padding: 5px;
	cursor: pointer;
}

.track:hover {
	background: rgb(50, 50, 50);
}

.track.active {
	background: #444;
}

.track div {
	display: inline-block;
	font-family: Gotham Book;
	vertical-align: middle;
	letter-spacing: -1px;
}

.track-number {
	width: 42px;
	color: rgb(80, 80, 80);
	text-align: center;
	font-size: 23px;
}

.track-genre {
	margin: 2px 0;
}

.track-artist {
	color: rgb(213, 213, 213);
	margin-left: 9px;
	width: 270px;
	margin-right: 30px;
}

.track-title {
	color: rgb(213, 213, 213);
	font-size: 15px;
	margin-right: 10px;
}

.track-info {
	color: rgb(99, 99, 99);
	font-size: 13px;
}

.no-tracks {
	font-family: Gotham Book;
	text-align: center;
	color: rgb(213, 213, 213);
	height: 51px;
	box-sizing: border-box;
	letter-spacing: -1px;
	padding-top: 15px;
	cursor: default;
}

#album-mixes {
	font-family: Gotham Bold;
	text-align: center;
}

#includes {
	margin-top: 30px;
}

#mixes {
	margin: 4px 0 10px 0;
}

.mix {
	border: 2px solid white;
	width: 175px;
	height: 37px;
	display: inline-block;
	margin: 6px;
	font-size: 18px;
	padding: 6px;
	text-transform: uppercase;
	cursor: pointer;
	box-sizing: border-box;
	-webkit-transition: .15s all linear;
	   -moz-transition: .15s all linear;
	        transition: .15s all linear;
}

.mix:hover, .mix.active {
	background: white;
	color: black;
}

#danyka-nadeau {
	font-family: Gotham Book;
	letter-spacing: -1px;
	text-align: center;
	color: transparent;
}

#player-div {
	width: 100%;
	background: rgb(18, 21, 23);
	padding: 5px 0 10px 0;
	position: fixed;
	left: 0;
	bottom: 0;
	display: none;
	z-index: 9999;
}

#player-inner-div {
	width: 784px;
	position: relative;
	left: 50%;
	margin-left: -382px;
}

#spacer {
	height: 80px;
	display: none;
}

#now-playing {
	font-family: Gotham Book;
	letter-spacing: -1px;
	padding: 10px 0;
}

#now-playing {
	width: 784px;
	margin-left: -392px;
	position: relative;
	left: 50%;
}

#now-playing b {
	font-family: Gotham Bold;
	font-weight: normal;
}

#player-controls {
    height: 30px;
}

#play-pause {
    color: white;
    width: 30px;
    height: 30px;
    float: left;
    position: absolute;
    cursor: pointer;
}

#play-pause.play {
    font-size: 25px;
    margin-top: 0px;
}

#play-pause.pause {
    font-size: 16px;
    margin-top: 5px;
    margin-left: 3px;
}

#seek-bar {
    width: 630px;
    height: 7px;
    margin-top: 12px;
    float: right;
    background: #333333;
    cursor: pointer;
    z-index: 10;
    -webkit-transition: .05s linear all;
        -moz-transform: .05s linear all;
             transform: .05s linear all;
}

#seek-bar-inner {
    width: 0px;
    height: 7px;
    position: absolute;
    background: #ffffff;
    z-index: 30;
    -webkit-transition: .05s linear all;
        -moz-transform: .05s linear all;
             transform: .05s linear all;
}

#seek-bar-ghost {
    width: 0;
    height: 7px;
    position: absolute;
    background: #555555;
    z-index: 20;
    -webkit-transition: .05s linear all;
        -moz-transform: .05s linear all;
             transform: .05s linear all;
}

#seek-bar:hover {
    height: 20px;
    margin-top: 5px;
}

#seek-bar:hover #seek-bar-inner, #seek-bar:hover #seek-bar-ghost {
    height: 20px;
}

#duration {
    float: right;
    width: 110px;
    text-align: right;
    margin-top: 5px;
}

#prev-album, #next-album {
	position: fixed;
	left: 50%;
	width: 74px;
	height: 100%;
	cursor: pointer;
	margin-top: -25px;
	color: #aaa;
	font-size: 75px;
	text-align: center;
	display: table;
}

#prev-album {
	margin-left: -496px;
}

#next-album {
	margin-left: 422px;
}

#prev-album:hover, #next-album:hover, #hamburger-icon:hover {
	color: #eee;
}

#prev-album span, #next-album span {
	display: table-cell;
	vertical-align: middle;
}

#no-album-selected {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	z-index: 9998;
	text-align: center;
	color: #aaa;
	font-size: 30px;
	line-height: 100vh;
}

#modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	z-index: 10000;
	display: none;
	-webkit-transition: .2s linear all;
	    -moz-transform: .2s linear all;
	         transform: .2s linear all;
}

#hamburger-icon {
	position: fixed;
	top: 15px;
	left: 15px;
	padding: 10px 15px 15px 15px;
	border-radius: 2px;
	cursor: pointer;
	font-size: 30px;
	line-height: 35px;
	z-index: 99998;
	color: #aaa;
}

#sidebar {
	position: fixed;
	top: 0;
	left: -280px;
	width: 250px;
	height: 100%;
	background: black;
	z-index: 99999;
	padding-top: 30px;
	box-shadow: 0 0 20px 5px #000;
	-webkit-transition: .2s linear all;
	    -moz-transform: .2s linear all;
	         transform: .2s linear all;
}

#sidebar img {
	width: 120px;
	height: 150px;
	padding: 30px 65px;
}

#sidebar .link {
	display: block;
	padding: 20px 30px;
	color: white;
	text-decoration: none;
	font-size: 17px;
	cursor: pointer;
}

#sidebar .link:hover {
	background: rgba(255,255,255,.3);
}

#sidebar .link.active {
	background: rgba(255,255,255,.4);
}

.section {
	margin: 26px 90px 35px 90px;
	display: none;
}

#album-detail {
	margin: 0;
}

#introductions {
	width: 764px;
	margin: 0 auto 80px auto;
}

.section h1, .section h2 {
	font-family: Gotham Book;
	font-weight: normal;
	text-align: center;
}

.section a {
	text-decoration: none;
	color: #aaa;
}

.section a:hover {
	text-decoration: underline;
}

.section p {
	line-height: 20px;
}

.section hr {
	border: 0;
	border-bottom: 1px solid rgba(255,255,255,.2);
	margin: 20px 0;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px 0;
}

.album-view {
	position: relative;
	margin: 20px;
	float: left;
	background: #333;
	border-radius: 0 0 3px 3px;
	cursor: pointer;
	z-index: 100;
	box-shadow: 0 0 30px rgba(0,0,0,.7);
}

.album-view:hover {
	background: #555;
}

.album-view img {
	width: 200px;
	height: 200px;
}

.album-info {
	width: 200px;
	box-sizing: border-box;
	padding: 17px;
}

.album-view .title {
	font-family: Gotham Bold;
	text-transform: uppercase;
	font-size: 15px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.album-view .subtitle {
	text-transform: uppercase;
	font-size: 13px;
	margin-top: 3px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 345px;
	text-align: center;
	line-height: 250px;
	font-size: 40px;
	z-index: 10;
	text-shadow: 0 0 25px rgba(0,0,0,.7);
}

#banner-home {
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(assets/banner_home.png) center center no-repeat rgb(18, 21, 23);
	background-size: cover;
	height: 250px;
}

#banner-compilation {
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(assets/banner_compilation.png) center center no-repeat rgb(18, 21, 23);
	background-size: cover;
}

#banner-lp {
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(assets/banner_lp.png) center center no-repeat rgb(18, 21, 23);
	background-size: cover;
}

#banner-ep {
	background: url(assets/banner_ep.png) center center no-repeat rgb(18, 21, 23);
	background-size: cover;
}

#banner-seasonal {
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(assets/banner_seasonal.png) center center no-repeat rgb(18, 21, 23);
	background-size: cover;
}

.banner-padding {
	widtb: 100%;
	height: 150px;
}

#banner-home + .banner-padding {
	height: 250px;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
